<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>LOD Management Suite</display-name>

    <context-param>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <listener>
        <!-- To allow session-scoped beans -->
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>springVaadinServlet</servlet-name>
        <servlet-class>at.punkt.lodms.web.SpringApplicationServlet</servlet-class>
        <init-param>
            <param-name>applicationName</param-name>
            <param-value>lodmsApp</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>at.punkt.lodms.gwt.LodmsWidgetset</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>springVaadinServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
